doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    title
      | {% if page.title %}
      | {{ page.title | escape }}
      | {% else %}
      | {{ site.title | escape }}
      | {% endif %}

    meta(name='description' content='{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}')

    //- link(rel='canonical' href='{{ page.url | replace:'index.html''' | prepend: site.baseurl | prepend: site.url }}')
    //- link(rel='alternate' type='application/rss+xml' title='{{ site.title }}' href='{{ ' |='' prepend:='' site.baseurl='' site.url='')

    link(rel='stylesheet' type='text/css' href='/css/app.css')
    link(rel='stylesheet' type='text/css' href='/css/font-awesome.min.css')
    script(type='text/javascript' src='/js/app_head.js')

  body
    .wrapper
      header
        a(href="/")
          h1 Default Template
        p A Theme for GitHub Pages
        nav
          ul
            li
              a(href="/") /home
            li
              a(href="/projects") /projects
            li
              a(href="/posts") /posts
            li
              a(href="/about") /about
          ul
            li
              a(href="/")
                i.fa.fa-github
            li
              a(href="/")
                i.fa.fa-linkedin
            li
              a(href="/")
                i.fa.fa-twitter
            li
              a(href="/")
                i.fa.fa-facebook

      section
        | {{ content }}

    script(type='text/javascript' src='/js/scale.fix.js')
    script(type='text/javascript' src='/js/app_body.js')
