doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    title.
      {% if page.title %}
      {{ page.title | escape }}
      {% else %}
      {{ site.title | escape }}
      {% endif %}

    meta(name='description' content='{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}')

    //- link(rel='canonical' href='{{ page.url | replace:'index.html''' | prepend: site.baseurl | prepend: site.url }}')
    //- link(rel='alternate' type='application/rss+xml' title='{{ site.title }}' href='{{ ' |='' prepend:='' site.baseurl='' site.url='')

    link(rel='stylesheet' type='text/css' href='/assets/css/app.css')
    link(rel='stylesheet' type='text/css' href='/assets/font-awesome-4.6.3/css/font-awesome.min.css')
    link(rel='shortcut icon' type='image/png' href='/assets/images/favicon.ico')

    script(type='text/javascript' src='/assets/js/app_head.js')

  body
    .wrapper
      header
        a(href="/")
          h1 @sonph
        p Son A. Pham || Sonny Pham
        p Interneter. Command line nerd. Productivity fanatic. Open source junkie. SWE @Google.
        nav
          ul
            li #[a(href="/") /home]
            li #[a(href="/projects") /projects]
            li #[a(href="/posts") /posts]
            li #[a(href="/about") /about]
          ul
            li
              a(href="https://facebook.com/s0nnyftw" target='_blank')
                i.fa.fa-lg.fa-facebook
            li
              a(href="https://github.com/sonph" target='_blank')
                i.fa.fa-lg.fa-github
            li
              a(href="https://twitter.com/_sonph" target='_blank')
                i.fa.fa-lg.fa-twitter
            li
              a(href="https://linkedin.com/in/sonph" target='_blank')
                i.fa.fa-lg.fa-linkedin

      section.
        {{ content }}

      footer.
        Built with #[a(href='http://jekyllrb.com') Jekyll].
        And #[a(href='http://jade-lang.org') Pug].
        And #[a(href='https://fontawesome.io' target='_blank') Font Awesome].
        Hosted with #[a(href='https://pages.github.com' target='_blank') Github Pages].
        Theme based on #[a(href='https://github.com/orderedlist/minimal' target='_blank') Minimal].
        Content by #[a(href='/about') @sonph]. &lt;3

    script(type='text/javascript' src='/assets/js/scale.fix.js')
    script(type='text/javascript' src='/assets/js/app_body.js')
