pre
  | @sonph
  |
  | Son "Sonny" Pham
  |
  | - 
  a(href="https://github.com/sonph") github
  |
  | - 
  a(href="https://linkedin.com/in/sonph") linkedin
  |
  | - 
  a(href="https://sonpham.me/resume.pdf") resume.pdf

